nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  margin: 0 4rem 4rem 4rem;
  .nav-permanent {
    display: flex;
    align-items: center;
  }
  .nav-buttons {
    display: flex;
  }
  a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
  }
  .a-disactive {
    color: #9a9a9a;
  }
}
