.about {
  margin-top: 8rem;
  color: #161616;
  .display {
    margin-bottom: 4rem;
    h1 {
      font-size: 4.5rem;
      font-weight: 600;
    }
    h2 {
      font-size: 4.5rem;
      font-weight: 600;
    }
    p {
      position: relative;
      top: 0.5rem;
      left: 4px;
      font-size: 18px;
    }
    svg {
      position: relative;
      left: 4px;
    }
  }
  .liens {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
  }
  .desc-about {
    margin-bottom: 6rem !important;
  }
}
