.home {
  display: flex;
  align-items: center;
  height: 100vh;
  .content {
    align-items: center;
    img {
      width: 100%;
      height: 75vh;
      object-fit: cover;
      object-position: top;
      transition: 0.5s ease-in-out;
    }
    .home-info {
      z-index: 10;
      transition: transform 0.5s ease-in-out;
      background: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.9) 20%,
        rgba(255, 255, 255, 0.9) 80%,
        transparent
      );

      .home-text {
        & > * {
          margin-bottom: 1.5rem;
        }
        .home-display {
          font-weight: 600;
          font-size: 96px;
        }
      }
      .home-interaction {
        display: flex;
        align-items: center;
        .line {
          margin-left: 1.5rem;
          background-color: currentColor;
          height: 2px;
          width: 100%;
          border-radius: 2px;
        }
      }
    }
  }
  .slider {
    position: absolute;
    bottom: 1rem;
    left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: currentColor;
    font-weight: 600;
    font-size: 18px;
    .line-container {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .line {
        height: 4px;
        width: 100%;
        background-color: #c7c7c7;
        border-radius: 16px;
        overflow: hidden;
        span {
          transition: width 1s linear;
          display: block;
          height: 100%;
          background-color: currentColor;
        }
      }
    }
  }
}
