@import "~bootstrap/scss/bootstrap-grid";

$red: #fb7185;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif;
}
ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: 4.5rem;
  line-height: 125%;
}
p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 200%;
  color: #646464;
}
body::after {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
